@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0px;
  margin: 0px;
}

.bg {
  color: rgba(40, 35, 35, 0.477);
}

#sidebar a.active {
  color: rgb(255, 221, 0);
  text-transform: none;
}

.menu a.active {
  color: yellow;
}

.menu a {
  background-color: transparent;
}

@keyframes gradientAnimation {
  0% {
    color: #720734;
  }

  10% {
    color: #ef8640;
  }

  20% {
    color: #b0993c;
  }

  30% {
    color: #839539;
  }

  40% {
    color: #7a9b45;
  }

  50% {
    color: #316e31;
  }

  60% {
    color: #569d73;
  }

  70% {
    color: #2f524b;
  }

  80% {
    color: #873849;
  }

  90% {
    color: #c51bbd;
  }

  100% {
    color: #8787b9;
  }
}

.gradient-animation {
  animation: gradientAnimation 5s linear infinite;
}

.align-item {
  align-items: baseline;
}

/* body {
  overflow-x: hidden;
} */

/* .container {
  position: relative;
  width: 70%;
  min-height: 70vh;
  overflow: auto;
} */



.banner-button {
  position: relative;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


/* Default styles for all screen sizes */
/* Small screens (phones) */
@media (min-width: 375px) and (max-width: 667px) {

  /* Add your custom CSS for small screens here */
  .spinner {
    left: 120px;
    top: 470px;
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 60px;
    /* background-image: url('./react.png'); */
    background-size: 200px;
    background-position: center;
    background-repeat: no-repeat;
    animation: spin 6s infinite linear;
    pointer-events: none;
  }
}

/* Small screens (phones) */
@media (min-width: 668px) and (max-width: 925px) {

  /* Add your custom CSS for small screens here */
  .spinner {
    position: absolute;
    top: 365px;
    left: 65px;
    width: 100px;
    height: 100px;
    border-radius: 60px;
    /* background-image: url('./react.png'); */
    background-size: 200px;
    background-position: center;
    background-repeat: no-repeat;
    animation: spin 6s infinite linear;
    pointer-events: none;
  }
}

/* Medium screens (tablets) */
@media (min-width: 600px) and (max-width: 1024px) {

  /* Add your custom CSS for medium screens here */
  .spinner {
    position: absolute;
    top: 440px;
    left: 80px;
    width: 200px;
    height: 200px;
    border-radius: 60px;
    /* background-image: url('./react.png'); */
    background-size: 200px;
    background-position: center;
    background-repeat: no-repeat;
    animation: spin 6s infinite linear;
    pointer-events: none;
  }
}

/* Large screens (desktops) */
@media (min-width: 800px) and (max-width: 2400px) {

  /* Add your custom CSS for large screens here */
  .spinner {
    position: absolute;
    /* top: 0px; */
    left: 180px;
    bottom: 100px;
    width: 200px;
    height: 200px;
    border-radius: 60px;
    /* background-image: url('./react.png'); */
    background-size: 300px;
    background-position: center;
    background-repeat: no-repeat;
    animation: spin 6s infinite linear;
    pointer-events: none;
  }
}

.shadow_blue:hover{
  box-shadow:  #1d74d1 0px 2px 5px 6px,  #1d74d1 0px 2px 5px 6px;
 background-color: #071438;
}